:root {
    --main-color: #2aa1b7;
    --background-color: #fff9eb;
    --buttons-color: #ffd471;
    --light-texts-color: #d8d7d8;
    --dark-texts-color: #707070;
}

body {
    background-color: var(--background-color);
    font-family: "Segoe UI", sans-serif;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
}

.span-continue {
    display: none;
}

.container-fluke {
    min-height: 460px;
}

.slide1,
.slide2,
.slide3,
.slide4,
.slide5 {
    background: url("../img/flukeBanner.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
}

.slider-container {
    margin-top: 50px;
    width: 100%;
    height: 250px;
}

.caption {
    bottom: 50px;
}

.caption h2,
.caption p {
    text-align: center;
}

.top-menu-title {
    font-family: "Lobster";
    font-size: 2.6em;
    color: var(--main-color);
    text-align: center;
    display: inline;
}

.div-button-top-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.button {
    margin-top: 5px;
    margin-right: 10px;
    font-weight: normal;
    font-family: 'Segoe UI', sans-serif;
    padding: 7px 40px;
    border-radius: 15px;
    border: none;
    background-color: #2aa1b7;
    color: #d8d7db;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    outline: none;
    cursor: pointer;
}

.tr-th1 {
    height: 50px;
}

.tab-list-recipe {
    margin: 5vh 8vw 5vh 8vw;
    padding-bottom: 1vh;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
    border-radius: 15px;
    /*background: rgba(255, 212, 113, .5);*/
}

#table--1 {
    margin-left: 2vh;
    margin-bottom: 5vh;
    width: 95%;
}

#table--1 tr {
    border-bottom: solid 1px var(--buttons-color);
    text-align: left;
}

#table--1 tbody tr:hover {
    background: rgba(255, 212, 113, .7);
}

.button-select-basket {
    margin: 15px 5px 15px 50px;
}

.container-top-menu-title {
    margin: 15px 50px 15px 50px;
}

.button-continue-adding-recipes {
    margin: 15px 50px 15px 5px;
}

.h4-title-Recipe {
    font-size: 18px;
}

.div-checkbox {
    margin: 10px;
    height: 20px;
    width: 30px;
}

.label-checkbox {
    display: block;
    position: relative;
    margin: auto;
    cursor: pointer;
    font-size: 22px;
    line-height: 24px;
    height: 20px;
    width: 20px;
    clear: both;
}

input[type=checkbox] {
    margin: 0;
}

.label-checkbox input {
    position: absolute;
    opacity: 0;
}

.label-checkbox .span-checkbox {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border: 2px solid var(--main-color);
}

.label-checkbox input:checked~.span-checkbox {
    background-color: var(--main-color);
    border-radius: 5px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity: 1;
    border: 2px solid var(--main-color);
}

.label-checkbox .span-checkbox::after {
    position: absolute;
    content: "";
    left: 10px;
    top: 10px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid var(--buttons-color);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity: 1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.label-checkbox input:checked~.span-checkbox::after {
    -webkit-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
    opacity: 1;
    left: 6px;
    top: 1px;
    width: 6px;
    height: 12px;
    border: solid var(--buttons-color);
    border-width: 0 2px 2px 0;
    background-color: transparent;
    border-radius: 0;
}

.div-checkbox:hover {
    margin: 1px;
    margin-left: 10px;
    height: 31px;
    width: 31px;
    border-radius: 10px;
    background-color: rgba(255, 249, 235, 0.8);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.div-checkbox:hover .label-checkbox {
    top: 5px;
}

.bottom-menu-basket {
    padding: 15px;
    display: flex;
    justify-content: flex-end;
}

.div-remove {
    margin-right: 30px;
    float: right;
    height: 44px;
    width: 44px;
    background: url("../img/iconRemoveRecipe.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.div-remove:hover {
    width: 50px;
    border-radius: 10px;
    background-color: rgba(255, 249, 235, 0.8);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input:focus {
    outline: none;
}

.add-remove-input {
    display: flex;
    align-items: center;
}

.button-remove-value {
    margin-right: 5px;
    height: 20px;
    width: 20px;
    background-color: var(--background-color);
    background-image: url("../img/reduce.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    /*border: 1.8px solid rgb(42, 161, 183);*/
    border: 0;
}

#table--1 tbody tr:hover .button-remove-value,
#table--1 tbody tr:hover .button-add-value {
    background-color: rgba(255, 212, 113, .3);
}

#table--1 tbody tr:hover .button-remove-value:hover,
#table--1 tbody tr:hover .button-add-value:hover {
    background-color: rgba(255, 249, 235, .8);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#table--1 tbody tr:hover .inputCountRecipe {
    background-color: rgba(255, 249, 235, .8);
}

#table--1 tbody tr:hover .add-remove-input:hover .inputCountRecipe {
    background-color: rgba(255, 249, 235, 1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.inputCountRecipe {
    height: 26px;
    width: 30px;
    background: var(--background-color);
    border-radius: 5px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border: 1.8px solid rgba(255, 212, 113, .7);
    text-align: center;
    font-family: "Lobster";
    font-size: 14.2px;
    color: var(--dark-texts-color);
}

.button-add-value {
    margin-left: 5px;
    height: 20px;
    width: 20px;
    background-color: var(--background-color);
    background-image: url("../img/add.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    /*border: 1.8px solid rgb(42, 161, 183);*/
    border: 0;
}

.div-col-3 {
    width: 50%;
    float: right;
    display: flex;
    justify-content: space-around;
}

#generate-shopping-list-basket,
.button-select-basket {
    background-color: var(--buttons-color);
    color: var(--dark-texts-color);
}

button:focus {
    outline: none;
}

.aElementTitle:link {
    color: var(--dark-texts-color);
    text-decoration: none;
}

.button-cancel,
.button-delete {
    opacity: 0.9;
}

.button-cancel:hover,
.button-delete:hover {
    opacity: 1;
}

.modal {
    display: none;
    position: fixed;
    z-index: 22;
    width: 100%;
    height: 100%;
    background-color: rgba(112, 112, 112, 0.65);
}

.modal-content {
    background-color: rgba(255, 249, 235, 1);
    width: 320px;
    height: 150px;
    margin: 20% auto 20% auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-modal {
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.container-modal p {
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    color: var(--dark-texts-color);
    font-size: 18px;
}

.buttons-model {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button-delete {
    background-color: var(--buttons-color);
    color: var(--dark-texts-color);
}

.div-checkbox-select {
    display: none;
}

@media all and (max-width: 1200px) {
    .button-select-basket {
        width: 140px;
    }
    .button-continue-adding-recipes {
        width: 250px;
    }
}

@media all and (max-width: 950px) {
    .button-select-basket,
    #remove-checked {
        padding: 7px 10px;
        width: 100px;
    }
    .button-continue-adding-recipes,
    #generate-shopping-list-basket {
        padding: 7px 10px;
        width: 200px;
    }
    .container-top-menu-title {
        margin: 10px 25px 10px 20px;
    }
    .top-menu-title {
        font-family: "Lobster";
        font-size: 2.4em;
    }
}

@media all and (max-width: 800px) {
    .tab-list-recipe {
        margin: 5vh 5vw 5vh 5vw;
    }
    .div-remove {
        margin-right: 0;
    }
    .button-select-basket,
    .button-continue-adding-recipes {
        margin: 5px;
    }
    .div-col-3 {
        width: 60%;
    }
    .col--2.col-title {
        width: 100%;
    }
    .button {
        font-size: 13px;
    }
}

@media all and (max-width: 650px) {
    .button-continue-adding-recipes,
    #generate-shopping-list-basket {
        width: 150px;
        margin: 5px 5px 10px 5px;
        padding: 5px 8px;
    }
    .button-select-basket,
    #remove-checked {
        width: 80px;
        height: 45px;
        margin: 5px 5px 10px 5px;
        padding: 5px 8px;
    }
    #table--1 {
        margin-bottom: 5px;
    }
    .bottom-menu-basket {
        padding: 5px;
    }
    .tab-list-recipe {
        margin: 5vh 0vw 5vh 0vw;
    }
}

@media all and (max-width: 470px) {
    .h4-title-Recipe {
        font-size: 16px;
    }
    .div-col-3 {
        padding-right: 20px;
    }
    #table--1 {
        width: 100%;
        margin: 0;
    }
    .button-continue-adding-recipes {
        margin: 5px 30px 5px 5px;
        width: 33px;
        height: 33px;
        border-radius: 10px;
        display: flex;
        align-items: center;
    }
    #generate-shopping-list-basket {
        width: 120px;
        height: 45px;
    }
    #select-span {
        display: none;
    }
    #remove-checked {
        width: 70px;
        height: 35px;
    }
    #generate-shopping-list-basket {
        margin: 5px 10px 10px 5px;
    }
    .tr-th1 {
        height: 50px;
        width: 400px;
    }
    .continue {
        display: none;
    }
    .span-continue {
        display: inline;
        font-size: 30px;
        margin-bottom: 5px;
    }
    .button-select-basket {
        width: 33px;
        height: 33px;
        border-radius: 10px;
        background-color: rgba(255, 212, 113, .8);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .div-remove {
        display: none;
    }
    .div-checkbox-select {
        display: block;
    }
    .div-checkbox {
        margin: 10px 1px 10px 2px;
    }
    .div-col-3 {
        margin: 10px 2px 10px 2px;
    }
    .caption h2 {
        font-size: 25px;
    }
    .container-modal p {
        margin: 0 10px 10px 10px;
    }
    .modal-content {
        width: 300px;
        margin: 50% auto 50% auto;
    }
    .button-cancel,
    .button-delete {
        margin: 5px;
        padding: 8px 20px;
    }
    .slider-container {
        width: 100%;
        margin-top: 80px;
    }
}