/* BASCIC SSTYLES */
body {
   background-color: #fff9eb;
}

#new-image-content {
   justify-content: center;
   width: 309px;
   height: 300px;
   object-fit: cover;
   border-radius: 5px;
}

.contenerek {
   flex-wrap: wrap;
   margin-top: 40px;
   display: flex;
   justify-content: center;
}

.btn-more {
   margin: 40px;
}


.input-btn {
   padding: 10px 25px;
   margin-top: 10px;
   border: none;
   border-radius: 5px;
   background-color: var(--main-color);
   color: var(--dark-texts-color);
   cursor: pointer;
}

.card-deck {
   display: flex;
   flex-direction: row;
   margin-top: 150px;

}

.input-search {
   margin-top: 130px;
   margin-bottom: 100px
}

#searchInputData {

   border: 2px solid #2aa1b7;
   border-radius: 4px;
   padding: 9px 20px;
   background: #fff9eb;;
}

/* BASIC STYLES */



/* ANIMATION */

.fade-in {
   opacity: 1;
   animation-name: fadeInOpacity;
   animation-iteration-count: 1;
   animation-timing-function: ease-in;
   animation-duration: 2s;
}

@keyframes fadeInOpacity {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

#searchInputData {
   padding: 8px 25px;
   border-radius: 5px;
}

/* ANIMATION */



/* MEDIA QUERY */

@media screen and (max-width: 1024px) {
   .search-container {
      margin-right: 85px !important
   }

   .btn-more {
      margin-bottom: 40px;
   }
}


@media screen and (max-width: 768px) {

   .new-added .new-content {
      margin: 8px;
      justify-content: center;
      width: 350px;
      height: 424px
   }

   .contenerek .new-added {
      margin: 0;
   }

   .search-container {
      margin-right: 43px !important
   }

   .slider-container {
      height: 371px;
   }
}




@media screen and (max-width: 540px) {


   .search-container {
      margin-right: 92px !important
   } 
   .new-content{ 
      border-radius: 5px;
   }
}








@media screen and (max-width: 414px) {

   #new-image-content {
      width: 256px;
      height: 231px;
   }
 
   .new-added .new-content {
      width: 317px;
      height: 353px;
   }

   .btn-more {
      margin-top: 10px;
   }

   .contenerek {
      justify-content: center;
   }

   .search-container {
      margin-right: 100px !important;
   }
}


@media screen and (max-width: 411px) {

   .new-added .new-content{ 

      width: 297px;
      height: 362px;
      border-radius: 5px;
   

   }
   .btn-more button {
      margin-bottom: 20px;
   }

   .search-container {
      margin-right: 100px !important;
   }
}


@media screen and (max-width: 375px) {

   .contenerek .new-added .new-content {

      width: 326px;
      height: 405px;
   }

   .main #new-image-content {
      width: 286px;
      height: 281px;
   }

   .contenerek {
      margin-top: 20px;
   }

   .search-container {
      margin: 0 !important
   }
}



@media screen and (max-width: 360px) {


   #searchInputData {
      padding: 10px 27px;
   } 
   #formId { 
      margin-bottom: 22px;
   }

   .main #new-image-content {
      width: 276px;
      height: 274px;
   }


   .main .btn-more {
      margin-top: -3px;
   }

   .main .contenerek .new-added .new-content {
      width: 321px;
      height: 396px
   }


}


@media screen and (max-width: 320px) {



   .main #new-image-content {
      width: 230px;
      height: 220px;
   }


   .main .contenerek .new-added .new-content {
      width: 279px;
      height: 340px;
   }

   .btn-more {
      margin-top: -27px;
   }


   .slider-container {
      height: 316px
   }

   .about-us-container {
      padding: 12px 5px;
   }
} 



@media screen and (max-width: 280px) {

  .main .contenerek .new-added .new-content{ 
      width: 264px;
   height: 342px;
   border-radius: 4px
   }

} 











/* nwoe */




#search-input{ 
   padding: 10px 25px;
   border-radius: 10px;
} 



.search-container{ 

   display: flex;
   justify-content: flex-end;
   margin-right: 200px
} 

.search-container input{ 
   padding: 5px 20px;
   outline: none;
   border: none;
} 

.search-container button { 
   padding: 7px 25px;
   background-color: #FFD471;
   border: none;
   border-radius: 8px;
   outline: none;
   cursor: pointer;
   
}  




.search-container input:hover{ 
  
  border: 1px solid rgb(193, 193, 193);
} 


.search-container button:hover{ 
   
   background-color: #e0b142;
 
} 

.new-added{ 
   margin: 15px;
   display: flex;
   justify-content: space-evenly;
} 
.new-added .buttonn{ 

   display: flex;
   justify-content: center;
   

} 

.new-added .header{ 
   display: flex;
   justify-content: center;
   margin-bottom: 15px;
   padding-top: 10px;
   font-family: 'Lobster';
   
} 

.new-added button { 
   padding:  10px 55px;
   border-radius: 15px;
   border: none;
   margin-top: 20px;
   background-color: #2AA1B7;
   color: #D8D7Db;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   outline: none;
   cursor: pointer;

} 

.new-added button:hover { 
  background-color: #1db4cf

} 


.new-content{ 
   background-color: #FFD471;
   width: 400px;
   height: 430px;
   color:  #2AA1B7;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}  



.image-content{ 
   display: flex;
   justify-content: center;
} 

.image-content >img{ 
   border-radius: 5px;
}

 .btn-more{ 
   display: flex;
   justify-content: center;
} 

.btn-more .more { 
   padding:  10px 55px;
   border-radius: 15px;
   border: none;
   margin-top: 20px;
   background-color: #FFD471;
   color: #707070;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   outline: none;
} 

.new-header{ 
   display: flex;
   justify-content: center;
} 
.new-header h2{ 
   font-family: 'Lobster';
   color:  #2AA1B7;
}  



.new-content .image-content{ 
   overflow: hidden;
}

.more{ 
   cursor: pointer;
}