<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eat Me</title>
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/search-main.css">

</head>

<body>
    <div class="container">
        <nav class="nav">
            <div class="brand-logo-wrapper">
                <a href="#">
                    <img class="brand-logo" src="../img/logo.png">
                </a>
            </div>

            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>

            <div class="nav-links">
                <ul>
                    <li><a href="#" data-content="Main">Main</a></li>
                    <li><a href="fluke.html?page=fluke" data-content="I'm feeling lucky">I'm feeling lucky</a></li>
                    <li><a href="#" data-content="Recipes">Recipes</a></li>
                    <li><a href="#" data-content="Contact">Contact</a></li>
                </ul>
            </div>
            <div class="login-logout">
                <a href="#" data-content="Log in">Log in</a>
                <div class="backslash">/</div>
                <a href="#" data-content="Log out">Log out</a>
            </div>
        </nav>

        <main class="main">
            <!-- searchbox input -->
            <div class="search-container">
                <form id="search-form">
                    <input type="search" name="search-input" placeholder="search meal" id='search-input'>
                    <button type="submit">Search</button>
                </form>
            </div>


            <!-- Lastly added -->

            <div class="new-header">
                <h2>Our Freshly Added</h2>
            </div>
            <div class="new-added">

                <!-- <h2>nowe przepisy</h2> -->
                <div class="new-content">
                    <div class="header">
                        <h3 id='dish-name1'></h3>
                    </div>

                    <div class="image-content" id='new-image'>
                        <img src="" id='new-image-content'>
                    </div>

                    <div class="button">

                        <a class="a-more-recipe" href="fluke.html?page=" target="_blank">
                            <button class="button-more-recipe">more</button>
                        </a>

                    </div>
                </div>


                <div class="new-content">
                    <div class="header">
                        <h3 id='dish-name2'></h3>
                    </div>
                    <div class="image-content">
                        <img src="" id="new-image-content-2" alt="">
                    </div>
                    <div class="button">
                        <a class="a-more-recipe" href="fluke.html?page=" target="_blank">
                            <button class="button-more-recipe">more</button>
                        </a>
                    </div>
                </div>


                <div class="new-content">
                    <div class="header">
                        <h3 id='dish-name3'></h3>
                    </div>
                    <div class="image-content">
                        <img src="" alt="" id='new-image-content-3'>
                    </div>
                    <div class="button">
                        <a href="fluke.html?page=">
                            <button class="button-more-recipe">more</button>
                        </a>
                    </div>
                </div>
            </div>


            <div class="btn-more">
                <button type="submit" class="more">See more</button>
            </div>



        </main>
        <footer class="footer">
            <nav class="footer-nav">
                <ul>
                    <li><a href="#" data-content="Main">Main</a></li>
                    <li><a href="fluke.html?page=fluke" data-content="I'm feeling lucky">I'm feeling lucky</a></li>
                    <li><a href="#" data-content="Recipes">Recipes</a></li>
                    <li><a href="#" data-content="Contact">Contact</a></li>
                </ul>
            </nav>
            <div class="footer-text">
                <q>Laughter is brightest where food is best.</q><br> Irish Proverb
            </div>
            <nav class="social-media">
                <ul>
                    <li><a href=""><i class="fab fa-facebook"></i></a></li>
                    <li><a href=""><i class="fab fa-pinterest"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                </ul>
            </nav>
        </footer>
    </div>
    <script src="../scripts/navbar.js"></script>
    <script src="../scripts/search.js"></script>
    <script type="text/javaScript" src="../scripts/main.js"></script>
</body>

</html>