<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eat Me</title>
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    <div class="container">
        <nav class=nav>
            <div class="brand-logo-wrapper">
                <a href="#">
                    <img class="brand-logo" src="../img/logo.png">
                </a>
            </div>

            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>

            <div class="nav-links">
                <ul>
                    <li class="nav-item">
                        <a href="#" data-content="Main">Main</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" data-content="I'm Feeling Lucky">I'm Feeling Lucky</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" data-content="Recipes">Recipes</a>
                    </li>
                    <li class="nav-item for-logged">
                        <a href="#" data-content="Add Recipe">Add Recipe</a>
                    </li>
                    <li class="nav-item for-logged">
                        <a href="#" data-content="Favourites">Favourites</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" data-content="About Us">About Us</a>
                    </li>
                    <li class="right-nav login-signup for-unlogged">
                        <a href="#" data-content="Log In" class="login">Log In</a>
                        <a href="#" data-content="Sign Up" class="signup">Sign Up</a>
                    </li>
                    <li class="right-nav logout for-logged">
                        <a href="#" data-content="Log Out">Log Out</a>
                    </li>
                </ul>
            </div>
        </nav>
        <main class="main">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium odit asperiores vitae pariatur repellendus assumenda perspiciatis blanditiis magni neque nemo delectus nobis ipsam quisquam quas autem tempore voluptatibus, cum quis.
            Error pariatur, atque repellat voluptates laudantium iusto fuga repudiandae omnis, corrupti magnam animi ullam ad explicabo amet sunt architecto corporis voluptatum libero officia deserunt ex earum culpa quae ducimus. Minima!
            Nesciunt, expedita consequatur. Sint delectus illo ad dolor velit! Magnam, ex eveniet non itaque molestias omnis a vel aut fuga, deserunt recusandae voluptatum consectetur nam in quisquam accusantium exercitationem eum?
            Neque suscipit tempore aliquid quisquam, praesentium vitae facere expedita sapiente, assumenda architecto odio autem explicabo minus! Eos tempora natus ab enim cum, in totam, praesentium esse et eum ullam numquam!
            Maiores cum est, ex, dignissimos voluptatem alias quo nisi quae autem accusamus officiis tempora recusandae non temporibus, quidem necessitatibus amet suscipit libero mollitia. Quia cum ipsa repudiandae fugit fugiat a.
            Sint officia fuga minima assumenda adipisci explicabo labore pariatur voluptate dolorem nulla quas repellendus accusamus, dolor soluta cum incidunt aperiam, in harum vitae possimus eum delectus doloribus corporis? Rem, mollitia.
            Exercitationem rerum illum architecto sapiente, facilis cum atque consectetur saepe nihil! Vel fugiat quisquam nulla ut eveniet, id repudiandae ea hic perspiciatis, tempora mollitia adipisci facere numquam nam! Aperiam, iure?
            Asperiores rerum sapiente omnis iure perspiciatis. Soluta dolorum quasi sapiente dolore saepe corrupti blanditiis, velit nobis, quod, vitae veniam molestias facere deleniti. Similique impedit deleniti doloremque excepturi illum porro praesentium?
            Saepe quisquam voluptas unde, dolores, recusandae impedit cupiditate fuga ducimus nam obcaecati est odit blanditiis fugiat ipsum maiores fugit officiis aliquam at aliquid? Laudantium dolore molestias nesciunt voluptate qui. Obcaecati.
            Magni dolore quia accusantium qui animi necessitatibus pariatur itaque, quos sint corrupti inventore error, molestias totam eius natus ullam cupiditate! Laudantium praesentium unde iusto facere impedit? Harum iure illo dolorum!
            Perferendis ex eveniet voluptas exercitationem libero! Repellendus suscipit, fugiat tempora enim nisi expedita in autem amet cumque nam optio aliquid commodi. Accusantium mollitia facere quae cumque rerum vitae magni molestiae.
            Nemo labore eum ullam error, dolor quaerat maiores accusantium veniam obcaecati. Perferendis, laborum nobis! Repellat sed voluptas quidem saepe perferendis, magni recusandae odit tempore accusamus? Eum ratione doloribus eius delectus?
            Quam vero nesciunt dignissimos qui officia deserunt nihil dicta tempore, corporis consequuntur veritatis quisquam reprehenderit mollitia ratione repudiandae alias, omnis expedita voluptatem. Ipsum vitae eveniet facilis iste accusantium libero odio?
            Tenetur nisi deserunt esse officiis quidem adipisci, nesciunt provident in, deleniti perspiciatis eligendi! Accusamus deserunt, tempore excepturi maiores doloremque numquam facilis aliquid quibusdam itaque? Placeat quisquam reiciendis vitae natus saepe.
            Veritatis saepe numquam vel beatae magni illum distinctio. Voluptas, vero! Harum laudantium quas ex veritatis excepturi eveniet? Possimus nam, numquam cumque eius reprehenderit delectus omnis aliquid fuga ab deleniti blanditiis.
            Nisi obcaecati amet odio. Maiores rerum libero hic facilis ipsam corrupti a. Facere molestiae, voluptas iste aliquid assumenda repudiandae ipsam non! Consequuntur reprehenderit quas rerum sequi necessitatibus, itaque facere molestias?
            Incidunt fugit perferendis ut necessitatibus voluptas ab minus nesciunt, eaque ipsa sint. Hic ipsum voluptates culpa sed possimus veritatis voluptatem aut qui molestiae? Officia libero recusandae, natus enim pariatur nemo.
            Nulla alias minus nihil tenetur totam ea sequi blanditiis enim vero eaque unde nisi itaque, praesentium dolorum, necessitatibus fugit facilis id? Amet consequatur pariatur suscipit quisquam quis? Nulla, placeat modi.
            Nisi, mollitia facilis recusandae cupiditate laboriosam, eum, sapiente molestiae assumenda eius ipsum quos. Deleniti excepturi omnis incidunt quod sint dolorem quasi autem repudiandae? Voluptas, repellat explicabo? Labore officiis rerum laboriosam.
            Odit beatae dolore eius possimus, maxime, nemo aliquid nobis excepturi nisi fugit ad maiores. Earum eum aliquam deserunt dolores voluptates odit ea enim minus quae magnam, quidem autem dicta atque.
        </main>
        <footer class="footer">
            <nav class="footer-nav">
                <ul>
                    <li><a href="#" data-content="Main">Main</a></li>
                    <li><a href="#" data-content="I'm Feeling Lucky">I'm Feeling Lucky</a></li>
                    <li><a href="#" data-content="Recipes">Recipes</a></li>
                    <li><a href="#" data-content="Add Recipe">Add Recipe</a></li>
                    <li><a href="#" data-content="Favourites">Favourites</a></li>
                    <li><a href="#" data-content="About Us">About Us</a></li>
                </ul>
            </nav>
            <div class="footer-text">
                <q>Laughter is brightest where food is best.</q><br> Irish Proverb
            </div>
            <nav class="social-media">
                <ul>
                    <li><a href=""><i class="fab fa-facebook"></i></a></li>
                    <li><a href=""><i class="fab fa-pinterest"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                </ul>
            </nav>
        </footer>
    </div>
    <script src="../scripts/navbar.js"></script>
</body>
</html>