<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eat Me - Search recipes</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/search-view.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
</head>
<body>
    <div class="container">
        <nav class="nav"></nav>
        <header class="banner"></header>
        <main class="main">

            <form action="" class="search-form">
                <input type="hidden" class="meal-id" name="meal-id">
                <div class="form-row row first-row-inputs">
                    <input type="search" id="search-input" placeholder="Filter by name" class="search-input m10">
                    <div class="search-buttons">
                        <button class="hide-filters-btn m10" type="button">Hide filters</button>
                        <button class="clear-filters-btn m10" type="button" disabled>Clear</button>
                    </div>
                </div>
                <div class="filters">
                    <div class="form-row row search-selects">
                        <input id="meal-ingredients" placeholder="Ingredients" onfocus="this.placeholder = ''"
                        onblur="this.placeholder = 'Ingredients'" class="m10" list="ingredients"/>
                        <datalist id="ingredients">
                        </datalist>
        
                        <input id="meal-category" placeholder="Categories" onfocus="this.placeholder = ''"
                        onblur="this.placeholder = 'Categories'" class="m10" list="categories"/>
                        <datalist id="categories">
                        </datalist>
        
                        <input id="meal-area" placeholder="Areas" onfocus="this.placeholder = ''"
                        onblur="this.placeholder = 'Areas'" class="m10" list="areas"/>
                        <datalist id="areas">
                        </datalist>
                    </div>
                    <div class="form-row row ingredients-selected invisible">

                    </div>
                </div>
                <div class="results">
                    <div class="form-row row pagination-buttons">
                        <button type="button" class="previous-btn"><i class="fas fa-angle-left"></i></button>
                        <input type="number" class="page-input" value="1" min="1"/>
                        <div class="pages-number"></div>
                        <button type="button" class="next-btn"><i class="fas fa-angle-right"></i></button>
                    </div>
                    <div class="form-row results-wrapper">
                        <h2 class="results-info m10"></h2>
                        <div class="row results-content start"></div>
                    </div>
                    <div class="form-row row pagination-buttons">
                        <button type="button" class="previous-btn"><i class="fas fa-angle-left"></i></button>
                        <input type="number" class="page-input" value="1" min="1"/>
                        <div class="pages-number"></div>
                        <button type="button" class="next-btn"><i class="fas fa-angle-right"></i></button>
                    </div>
                    <div class="form-row row sixth-row-buttons">
                        <button type="button" class="random-pick-btn m10">Pick for me</button>
                    </div>
                </div>
            </form>

        </main>
        <footer class="footer"></footer>
    </div>
    <script type="module" src="../scripts/search-view.js"></script>

</body>
</html>