
   <link rel="stylesheet" href="../public/style/base.css">
   <link rel="stylesheet" href="../public/style/search-main.css">
   <link rel="stylesheet" href="../public/style/main.css" />
   <link rel="stylesheet" href="../public/style/slider.css" />
   <div class="slider-container slider-containere2">
      <div class="slider">
          <div class="slide slide1">
              <div class="caption caption2">
                  <h2> If more of us valued food and cheer and song above hoarded gold, it would be a merrier world.</h2>
                  <p>~~ J.R.R. Tolkien
                  </p>
              </div>
          </div>
          <div class="slide slide2">
              <div class="caption caption2">
                  <h2> One cannot think well, love well, sleep well, if one has not dined well.</h2>
                  <p>~~ Virginia Woolf, A Room of One's Own
                  </p>
              </div>
          </div>
          <div class="slide slide3">
              <div class="caption caption2">
                  <h2> Ask not what you can do for your country. Ask what’s for lunch.</h2>
                  <p>~~ Orson Welles
                  </p>
              </div>
          </div>
          <div class="slide slide4">
              <div class="caption caption2">
                  <h2> There is no love sincerer than the love of food.</h2>
                  <p> George Bernard Shaw, Man and Superman
                  </p>
              </div>
          </div>
          <div class="slide slide5">
              <div class="caption caption2">
                  <h2> I cook with wine, sometimes I even add it to the food.</h2>
                  <p>W.C. Fields
                  </p>
              </div>
          </div>
      </div>
  </div>

<main class="input-search">
   <div class="search-container">
      <form id='formId' action="">  
         <input type="search" id="searchInputData" placeholder="Filter by name" class="search-input m10">
      </form>
   </div> 
<div class="new-header">
   <h2>Our Whole Collection</h2>
</div> 
<div id="new-container" class="contenerek"></div>
<div class="contenerek"id='conteiner-result'>
<% arrayfile.forEach(function(file) { %>
   <div class="new-added">
      <div class="new-content">
         <div class="header">
            <h3 id='dish-name1'><%=file.strMeal%></h3>
         </div>
      
         <div class="image-content" id='new-image'>
            <img 
            id='new-image-content'
            src="data:image/<%=file.images.contentType%>;base64,
            <%=file.images.strMealThumb.toString('base64')%>"
            alt="photo"
         />
         </div>
         <div class="buttonn">
            <a href="/users/happines?db_id=<%=file._id%>" class="btn-verify">
               <button type="submit">see more</button>
            </a>
         </div>
      </div>
   </div> 
   <% }) %>  
</main> 

<script src="../public/js/newly-added-search.js"></script>

