
    <title>Our team</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" type="text/css" href="../public/style/base.css" />
    <link rel="stylesheet" type="text/css" href="../public/style/team.css" />
    <link rel="stylesheet" type="text/css" href="../public/style/slider.css" />
    

      <div class="container">
        <main class="container-team">
            <div class="about-team-title">
                <h1> Meet our team!</h1>
            </div>
            <div class="about-team">
                <div class="our-team">
                    <h3> Jakub <br>Żyła</h3>
                    <div class="team-pictures" id="Jakub-pic"> </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                </div>

                <div class="our-team">
                    <h3> Damian <br>Tułacz </h3>
                    <div class="team-pictures" id="Damian-pic"></div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                </div>

                <div class="our-team">
                    <h3> Kamila Liśkiewicz </h3>
                    <div class="team-pictures" id="Kamila-pic"></div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                </div>

                <div class="our-team">
                    <h3> Paulina Lewandowska</h3>
                    <div class="team-pictures" id="Paulina-pic"></div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                </div>
            </div>
        </main> 
      </div>

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.2.0/jspdf.umd.min.js"></script>
    <script src="../scripts/navbar.js"></script>
    