<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../public/style/base.css" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

<link rel="stylesheet" href="../public/style/fluke.css" />

<main class="container-fluke">
    <section class="container-recipe">
        <div class="content-title">
            <h3 id="title-dish"></h3>
        </div>
        <div class="content-dish">
            <div class="content-img">
                <img id="img-dish" src="" />
                <button class="btn-favorites" id="favorite"></button>
                <button class="btn-favorites" id="favorite2" style="visibility: hidden;"></button>
            </div>

            <div class="content-list-ingredients">
                <div>
                    <h3>Ingredients</h3>
                    <div class="list-ingredients-columns">
                        <ul id="list-ingredients"></ul>
                        <ul id="list-ingredients-col2"></ul>
                    </div>
                </div>
                <div class="contener-button">
                    <div class="content-generate-list">
                        <button class="button" id="button-generate-recipe">
                  Generate a recipe</button>
                    </div>
                    <div class="content-generate-list">
                        <button class="button" id="button-generate-list">
                  Generate a shopping list</button>
                    </div>
                </div>
            </div>
            <div class="content-add-icon">
                <button id="icon-add-recipe" title="Add the recipe to the basket"></button>
                <button class="try-again" title="
            try drawing the recipe again"></button>
            </div>
        </div>
        <div class="content-description">
            <h3 class="instructions-title">Instructions</h3>
        </div>
        <div class="content-draw-recipe">
            <button class="button" id="button-draw-recipe" style="visibility: hidden;">
            I'm feeling lucky</button>
        </div>
    </section>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.2.0/jspdf.umd.min.js" type="module"></script>