:root {
    --main-color: #2AA1B7;
    --background-color: #FFF9EB;
    --buttons-color: #FFD471;
    --light-texts-color: #D8D7D8;
    --dark-texts-color: #707070;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    font-family: "Segoe UI", sans-serif;
    display: flex;
    flex-direction: column;
    color: var(--light-texts-color);
    background-color: var(--background-color);
}

.nav {
    width: 100%;
    height: 100px;
    background-color: var(--main-color);
    position: fixed;
    z-index: 100;
}

.banner {
    width: 100%;
    height: 150px;
    background-color: var(--light-texts-color);
    margin-top: 100px;
}

.row {
    display: flex;
    justify-content: center;
}

.results-info {
    text-align: center;
    font-family: 'Lobster', cursive;
    color: var(--main-color);
}

.main {
    min-height: calc(100vh - 400px);
    margin-left: 47px;
    margin-right: 47px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.search-form {
    margin-left: auto;
    margin-right: auto;
    min-height: calc(100vh - 400px);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 920px;
    color: var(--dark-texts-color);
}

.search-form button {
    outline: none;
    background-color: var(--buttons-color);
    border: none;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.5);
    transition: all 0.3s;
    cursor: pointer;
    color: var(--dark-texts-color);
}

.search-form input {
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2);
}

.search-form input:focus {
    -webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.4);
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.4);
}

.search-form button:enabled:hover {
    transform: translateY(-3px);
}

.search-form button:disabled {
    background-color: var(--dark-texts-color);
    color: var(--light-texts-color);
    cursor: default;
}

.search-form button:focus {
    -webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.5);
}

.filters {
    display: block;
    width: 100%;
    opacity: 1;
    max-height: 1232px;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out 0.25s;
}

.hidden {
    transition: max-height 0.5s ease-in-out 0.25s, opacity 0.5s ease-in-out;
    max-height: 0;
    opacity: 0;
}

.m10 {
    margin: 10px;
}

.form-row {
    width: 100%;
    margin-bottom: 30px;
}

.first-row-inputs {
    display: flex;
}

.search-input {
    position: relative;
    flex-grow: 2;
    height: 45px;
    border-radius: 20px;
    outline: none;
    border: 1px solid #CCC;
    padding: 10px;
    padding-left: 20px;
    color: var(--dark-texts-color);
    font-family: inherit;
    font-size: inherit;
}

.search-buttons {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
}

.search-buttons button {
    height: 45px;
    width: 40%;
    min-width: 100px;
    border-radius: 20px;
}

.search-selects {
    display: flex;
    justify-content: space-evenly;
}

.search-selects input {
    width: 20%;
    min-width: 100px;
    height: 45px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #CCC;
    font-size: 12px;
    padding: 5px;
    padding-left: 10px;
    color: var(--dark-texts-color);

    position: relative;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}

.ingredients-empty-info {
    font-family: 'Lobster', cursive;
}

.ingredients-selected {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ingredients-selected .ingredient-selected {
    position: relative;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 30px;
    cursor: pointer;
}

.ingredients-selected .ingredient-selected:hover img {
    opacity: 0.3;
}

.ingredients-selected .ingredient-selected::before {
    opacity: 0;
    display: block;
    position: absolute;
    color: var(--main-color);
    content: "X";
    font-weight: bold;
    font-size: 55px;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1000;
    transform: translateY(12px);
    transition: all 0.5s;
}

.ingredients-selected .ingredient-selected:hover::before {
    opacity: 1;
}

.ingredients-selected .ingredient-selected img {
    position: relative;
    transition: all 0.5s;
    margin-bottom: 10px;
}

.fourth-row-buttons button {
    height: 35px;
    border-radius: 20px;
    width: 10%;
    min-width: 100px;
}

.seventh-row-buttons button {
    height: 45px;
    border-radius: 20px;
    width: 10%;
    min-width: 100px;
    display: none;
}

.results {
    display: none;
}

.results-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.results-content .meal {
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 220px;
    margin: 10px;
    margin-bottom: 40px;
    background-color: var(--buttons-color);
    border-radius: 10px;
    padding: 10px;
    -webkit-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.5);
}

.results-content .meal p {
    margin-top: 10px;
    margin-bottom: 5px;
    color: var(--main-color);
    font-family: 'Lobster', cursive;
    font-size: 15px;
}

.results-content .meal img {
    width: 85%;
    height: 65%;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.5);
}

.results-content .meal button {
    margin-top: 5px;
    width: 50%;
    height: 11%;
    background-color: var(--main-color);
    border-radius: 10px;
    color: var(--light-texts-color);
}

.search-form .pagination-buttons {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    width: 60vw;
}

.search-form .pagination-buttons button {
    height: 20px;
    margin: 5px;
    width: 20px;
    border-radius: 5px;
}

.search-form .pagination-buttons button.active {
    transform: translateY(-3px);
    background-color: var(--main-color);
}

.footer {
    width: 100%;
    height: 150px;
    background-color: var(--main-color);
}

.search-form button:active {
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.63);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.63);
}

@media (max-width: 800px) {
    .first-row-inputs {
        flex-direction: column;
        justify-content: center;
    }

    .first-row-inputs .search-buttons {
        justify-content: center;
    }

    .search-selects {
        display: flex;
        align-items: center;
        flex-direction: column;
        min-width: 200px;
        justify-content: center;
    }

    .search-selects input {
        width: 80%;
    } 

    .m10 {
        margin: 10px 0;
    }

    .search-form button {
        margin: 10px;
    }

    .search-buttons button {
        height: 35px;
        width: 20%;
    }
}




